.cafePage {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cafeAvatar {
  width: 200px;
  margin: 0 auto;
}
.cafeAvatar img {
  width: 100%;
  border-radius: 30px;
}

.cafeInfo {
}
.cafeInfo h1 {
  font-size: 26px;
  text-align: center;
}
.cafeInfo h4 {
  text-align: center;
  color: rgb(var(--extra-color));
  margin-bottom: 10px;
}
.cafeInfo p {
  text-align: center;
  font-weight: 500;
}

.cafeLocation,
.cafeReview {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cafeLocation h2,
.cafeReview h2 {
  font-size: 20px;
}

.cafeReview ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cafeReview > div {
  display: flex;
  gap: 20px;
}
