.dropbtn {
  background-color: rgb(var(--muted-color));
  color: rgb(var(--primary-color));
  padding: 5px 15px;
  font-size: 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  width: min-content;
  transition: all 0.1s;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--accent-color));
  border-color: rgb(var(--accent-color));
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: rgb(var(--primary-color));
  border: 2px solid rgb(var(--accent-color));
  border-radius: 10px 0 10px 10px;
  min-width: 160px;
  z-index: 1;
  right: 0;
  margin-top: 30px;
}

.dropdownContent li {
  color: rgb(var(--accent-color));
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid rgb(var(--accent-color));
}
.dropdownContent li:last-child {
  border-bottom: none;
}

.dropdownContent li:hover {
  background-color: rgba(var(--muted-color), 0.5);
  border-radius: 10px 0 10px 10px;
}

.show {
  display: block;
}
