.dropbtn {
  background-color: var(--muted-color);
  color: var(--primary-color);
  padding: 5px 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--accent-color);
  border: 2px solid var(--muted-color);
  border-radius: 10px;
  min-width: 160px;
  z-index: 1;
  right: 0;
  margin-top: 5px;
}

.dropdownContent li {
  color: var(--primary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdownContent li:hover {
  background-color: var(--muted-color);
}

.show {
  display: block;
}
