.inputLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputLabel > div:first-child {
  display: flex;
  gap: 10px;
  align-items: center;
}
.inputLabel > div > label {
  font-size: 18px;
  font-weight: 600;
}

.inputLabel > input {
  padding: 15px 10px;
  border-radius: 15px;
  border: 2px solid rgba(var(--text-color), 0.2);
  font-weight: 400;
  font-size: 18px;
  outline: none;
}
.inputLabel > input:focus {
  border-color: rgb(var(--accent-color));
}

.inputLabel.file {
  align-items: center;
}

/* Стили для контейнера с изображением */
.imageContainer {
  width: min-content;
  position: relative;
  display: inline-block;
}

.avatarImage {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
  border: 5px solid rgba(var(--text-color), 0.1);
  transition: border-color 0.2s;
}

.avatarImage:hover {
  border-color: rgb(var(--accent-color));
}

.hiddenInput {
  display: none;
}
