.coffeeCard {
  max-width: 100%;
  background-color: transparent;
  transition: all 0.2s;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  gap: 20px;
}
.coffeeCard:hover,
.coffeeCard:active {
  background-color: rgb(var(--bage-color));
}

.coffeeAvatar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coffeeAvatar img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.coffeeInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}
.coffeeInfo > h2 {
  color: rgb(var(--text-color));
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.coffeeInfo > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.coffeeInfo > div > * {
  color: rgb(var(--extra-color));
  font-weight: 500;
}
.coffeeInfo > div > .coffeeScore {
  font-size: 18px;
}
.coffeeInfo > div > span {
  font-size: 18px;
}
.coffeeInfo > div > h4 > span {
  color: rgb(var(--extra-color));
}
