.coffeeCard {
  margin-bottom: 16px; /* Отступ между карточками */
  max-width: 100%;
  border: 3px solid var(--muted-color);
  background-color: transparent;
  transition: all 0.2s;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}
.coffeeCard:hover,
.coffeeCard:active {
  border-color: var(--extra-color);
}

.coffeeHead {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coffeeHead > span {
  color: var(--extra-color);
  font-size: 30px;
  font-weight: 1000;
}
.coffeeHead > div {
  display: flex;
  align-items: flex-end;
}
.coffeeHead > div img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.coffeeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.coffeeInfo > h2 {
  color: var(--accent-color);
  text-align: center;
  font-size: 30px;
}

.coffeeInfo > h4 {
  color: var(--muted-color);
  text-align: center;
}
.coffeeInfo > h4 > span {
  color: var(--accent-color);
  padding: 0 0 0 5px;
}
.coffeeScore {
  background-color: var(--accent-color);
  width: min-content;
  padding: 5px 15px;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 30px;
}
