.search {
  width: 100%;
  background: rgb(var(--bage-color));
  border: none;
  border-radius: 10px;
  padding: 16px 48px 16px 16px;
  color: rgb(var(--extra-color));
  font-size: 20px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s;
}

.search::placeholder {
  color: rgb(var(--extra-color));
  opacity: 1;
}

/* .search:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
} */
