@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  font-family: Inter, sans-serif;

  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #262626;
  --secondary-color: #f5f4f2;
  --accent-color: white;
  --extra-color: #dbc3fd;
  --bage-color: #3f93fa;
  --text-color: white;
  --bg-btn-color: #c7fbdd;

  --danger-color: #ff6b81; /* Ярко-розовый/красный для ошибок, акцентов */
  --success-color: #4ade80; /* Мятно-зелёный для успеха */
  --warning-color: #facc15; /* Ярко-жёлтый для предупреждений */
  --muted-color: #a1a1aa; /* Серый для второстепенного текста */
  --background-color: #7039be;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  background-color: var(--primary-color);
  margin: 0;
}

#root {
  width: 100vw;
  padding: 0;
}

html {
  width: 100vw;
}

body,
#root {
  overflow-x: hidden;
}

body * {
  font-family: Inter, sans-serif;
}

.app {
  padding: 10px;
}

.main-content > * {
  width: 100%;
}

.mobile-body {
  overflow: hidden;
  height: 100vh;
}

.mobile-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.mobile-content {
  height: calc(100% + 1px);
}

.sheetContent h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.sheetContent > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sheetContent > ul > li {
  background-color: var(--extra-color);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
}
